:root {
    --main-color: #2196F3;
    --primary-color: #ffffff;
    --secondary-color: #757575;
    --tertiary-color: #000000;
    --add-font: 'Raleway'

}
body {
    font-family: 'Roboto', 'sans-serif';
    font-size: 14px;
    color: #212121
    
}
.menu{
    list-style-type: none;
    font-weight: 500;
}
.us-none{
    list-style-type: none;
}
.link{
    text-decoration: none;
    color: var(--tertiary-color);
}
.link:hover, 
.link:focus{
    color: var(--main-color);
}
.blue{
    color: var(--main-color);;
}
.logo {
    font-family: var(--add-font);
    font-size: 26px;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-top {
    color: var(--tertiary-color);
    align-items: baseline;

}

.logo-top:hover,
.logo-top:focus,
.logo-top:visited {
    color: var(--tertiary-color);
}

.logo-footer {
    color: var(--primary-color);
}

.contact-header {
    line-height: 1.14em;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.logo-footer:hover,
.logo-footer:focus,
.logo-footer:visited {
    color: var(--primary-color);
}

.slider-text{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.26em;
    color: var(--primary-color);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    background-color: #2F303A;;
}
.button-fp{
    border-color: var(--main-color);;
    background-color: var(--main-color);;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    font-weight: 700;
    font-size: 16px;
    color: var(--primary-color);
    line-height: 1.87em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.head-first{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.23em;
    letter-spacing: 0.03em;
}
.text-grey{
    line-height: 1.71em;
}
.head-second{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16em;
    letter-spacing: 0.03em;
}
.name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18em;
    letter-spacing: 0.03em;
}
.office{
    font-size: 16px;
    line-height: 1.18em;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}
.address{
    line-height: 1.71em;
    letter-spacing: 0.03em;
    color: var(--primary-color);
    font-style: normal;
}
.footer{
    background-color: #2F303A;;
}
.contact-footer{
    line-height: 1.71em;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    text-decoration: none;
}
.filter{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    border:none;
    line-height: 1.62em;
    cursor: pointer;
    
}
.filter:hover,
.filter:focus{
    background-color: var(--main-color);;
    color: var(--primary-color);
}

.project-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2em;
    letter-spacing: 0.06em;
}
.project-description {
    font-size: 16px;
    line-height: 1.87em;
}
.product{
    font-size: 16px;
    line-height: 1.87em;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}